# PlatformIO
.pio
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json

# Build directories
/build
/dist
/out

# ESP-IDF
sdkconfig
sdkconfig.*
sdkconfig.old
dependencies.lock
managed_components

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
build.ninja
*.cmake.in
.cmake/

# Visual Studio Code
.vscode/

# Eclipse / CDT
.cproject
.project
.settings/
.metadata/

# JetBrains IDEs
.idea/
*.iml

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.bin

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Logs
*.log
log/
logs/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# Backup files
*.bak
*.gho
*.ori
*.orig
*.tmp
*~

# Archives
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Documentation builds
doc/_build/
docs/_build/
site/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
unity-app/

# Dependencies
dependencies/
.pio/libdeps/

.github/